.container {
    .paperContainer {
        width: 560px;
        margin: auto;
        .header {
            margin-bottom: 24px;
            font-weight: bold;
            font-size: 48px;
        }
        .paper {
            padding: 16px;
            margin-bottom: 24px;
        }

        .formComponent {
            margin-bottom: 24px;
        }
        .formComponent:last-child {
            margin-bottom: 0;
        }
    }
}